# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/*.csv
data/*.zip
data/*.tar.gz

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.out
*.err
